.b-map {
  width: 100%;
  text-align: center;
  border-right:1px solid #222;
  height: 300px;
  padding-top:55px;
}
.b-map__item {
  width: 150px;
  height: 150px;
  color:red;
  background: #222;
  border-radius: 50%;
  display: inline-block;
  text-align: center;
  line-height: 150px;
  margin:20px;
}
