.b-overlay {
  padding:20px 0;
  width: 100%;
  ul {
    width: 30%;
    padding:10px;
    float: left;
  }
  li {
    padding:2px;
    border-bottom:1px solid #222;
    display:block;
    height: 22px;
  }
}
.b-overlay__image {
  width: 33.33%;
  float: left;
  height: 300px;
}
